<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
        <title>Cars</title>
        <link rel="icon" href="/shared-images/car.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/shared-css/offer.css"/>
    </head>
    <body>
        <h1 class="header">Результаты запроса</h1>
        {{if .Cars}}
        <p class="result">Найдено {{ .Quantity }} автомобилей</p>

    {{range $index, $car := .Cars}}
        <div class="car_page" carID="{{index $.Indexes $index}}" errorLink="{{$.ErrorLink}}">
            {{if gt (len $car.Offering.PhotoURLs) 0}}
                <img src="{{index $car.Offering.PhotoURLs 0}}">
            {{end}}
            <div class="name_and_price">
                {{ $car.FullName }} <br>{{ $car.Offering.Price }}
            </div>
        </div>
    {{end}}
       
    {{if .Survey }}
    {{ template "survey" .}}
    {{ end }} 

    {{else}}
    <div id="error">
      Автомобили не найдены. Попробуйте изменить параметры поиска
    </div>
    {{end}} 

    <script type="module" src="/shared-js/offer.js"></script>
    <button class="jump_to_main_page two" onClick="location.href='{{.HomePageLink}}'">На главную страницу</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html> 