{{ define "survey" }}
 <link rel="stylesheet" type="text/css" href="/css/survey.css"/>
    <div id="question" questionID="{{.QuestionID}}">
      <form method="post">
        <p class="center"><b>{{ .Question }}</p>
        {{ range $index, $element := .PossibleAnswers}}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="radio{{$index}}" value="{{$element}}"{{if eq $index 0}} checked{{ end }}>
            <label class="form-check-label text-left" for="radio{{$index}}">
              <b>{{ $element }}</b>
            </label>
          </div>
        {{end}}
        <button type="submit" class="btn btn-primary ml-1.5 mt-3" id="answer_button"><b>Ответить</b></button>
      </form>
    </div>
    
    <script type="module" src="/js/survey.js"></script>
{{ end }}
