body {
  padding: 30px;
  background-color: #444444;
}

.header {
    text-align: center;
    margin: 2%;
    color: white;
}

.result {
    text-align: center;
    font-size: x-large;
    margin-top: 1%;
    margin-bottom: 2%;
    color: white;
}

.car_page {
    margin: 0 auto;
    border-radius: 15px;
    background-color: grey;
    width: 800px;
    height: 170px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.name_and_price {
    color: white;
    font-size: 1.2em;
    padding: 15px;
}

img {
    max-width: 80%;
    max-height: 80%;
    margin-left: 3%;
}

.jump_to_main_page {
    display: block;
    margin: auto;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    border-style: none;
    font-size: x-large;
}

.jump_to_main_page.two {
    margin-top: 3%;
}


#error {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px; 
    color: white;
    font-size: x-large;
    font-weight: bolder
}

.car_page:hover, .jump_to_main_page.two:hover {
    cursor: pointer;
}